.aboutus {
    padding: 15rem;
    margin: 5rem;
    margin-top: -16rem;
    margin-bottom: -14rem;
    background-color: white;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__text {
        hyphens: auto;
        align-self: stretch;
    }
}