*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom,
      $color-primary,
      $color-secondary);
  background-repeat: no-repeat;
  //test
  height: 100%;
}