.members {
    height: 100%;
    font-size: 1.6rem;
    padding: 10rem;
    padding-bottom: 50rem;
    background-color: $color-offwhite;
    margin: 5rem;

    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: skewY(-5deg);
    //clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

    &>* {
        transform: skewY(5deg);
    }

    &__card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 30rem;
        flex-wrap: wrap;
        //position: relative;

        &--heading {
            color: $color-black;
            font-weight: 2.8rem;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            flex-direction: column;
            // text-align: right;
            // position: absolute;
            // top: 15rem;
            // right: 88rem;
        }

        // &__heading-span {
        //     &--1 {
        //         background-image: linear-gradient(to right bottom, rgba($color-primary, 0.85), rgba($color-secondary, 0.85));
        //     }
        // }

        &__image {
            height: 20rem;
            background-size: cover;
        }

        &--1st {
            background-image: linear-gradient(to right bottom, #c2e59c, #64b3f4);
            flex: 0 0 35%;
            margin-bottom: 5rem;

            &-image {
                background-blend-mode: screen;
                background-image: linear-gradient(to right bottom,
                        $color-primary,
                        $color-secondary),
                    url(../images/bg.jpg);
            }
        }

        &--2nd {
            background-image: linear-gradient(to right bottom, #c2e59c, #64b3f4);
            flex: 0 0 35%;
            margin-bottom: 5rem;
            padding-bottom: 3rem;

            &-image {
                background-blend-mode: screen;
                background-image: linear-gradient(to right bottom, $color-primary, $color-secondary),
                    url(../images/bg.jpg);
            }
        }

        &--3rd {
            background-image: linear-gradient(to right bottom, #c2e59c, #64b3f4);
            flex: 0 0 35%;
            margin-bottom: 5rem;
            padding-bottom: 3rem;

            &-image {
                background-blend-mode: screen;
                background-image: linear-gradient(to right bottom, $color-primary, $color-secondary),
                    url(../images/bg.jpg);
            }
        }

        &--4th {
            background-image: linear-gradient(to right bottom, #c2e59c, #64b3f4);
            flex: 0 0 35%;
            margin-bottom: 5rem;
            padding-bottom: 3rem;

            &-image {
                background-blend-mode: screen;
                background-image: linear-gradient(to right bottom, $color-primary, $color-secondary),
                    url(../images/bg.jpg);
            }
        }
    }
}